<ion-header>
  <ion-toolbar>
    <ion-title>Manage currency</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card class="ion-margin" color="light">
  <ion-grid >
    <ion-row>
      <ion-col size="12"  >
        <ion-row color="light">
         
 
            <ion-col size="4" class="ion-font-weight-bold"> Denomination </ion-col>
            <ion-col size="4" class="ion-font-weight-bold"> Qty </ion-col>
            <ion-col size="4" class="ion-font-weight-bold">  </ion-col>
         
        </ion-row>
        <ion-list *ngFor="let currency of currencyList">
      
          <ion-row>
            <!-- <ion-col size="3">{{currency.coinDenomination}} </ion-col> -->
            <ion-col size="4"> 
              <ion-chip color="secondary" class="ion-padding-2" mode="ios" outline="true">
                <h3>{{currency.currencyTypeName}} {{currency.coinDenomination}}</h3>
              </ion-chip>
               </ion-col>
            <ion-col size="4">
              <ion-chip color="success"  class="ion-padding-2" outline="true">
                <h3>{{currency.quantity}} </h3>
              </ion-chip>
            </ion-col>
            <ion-col size="4">
              <ion-icon (click)="deleteCurrency(currency)" size="large" class="ion-margin-top-3"
                color="danger" name="trash"></ion-icon>
             </ion-col>
       
          </ion-row>
        </ion-list>
        <ion-list>
          <ion-item color="primary">
            <h1>Total Value : ¢{{calculateCent(currencyList)}} </h1>
          </ion-item>
          <ion-item color="primary">
            <h1>Total Coin : {{calculateCoin(currencyList)}} </h1>
          </ion-item>
        </ion-list>

      </ion-col>

     
    </ion-row>

 

  </ion-grid>
</ion-card>





  <ion-fab slot="fixed" (click)="addCurrency()" class="ion-margin" vertical="top" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>