<ion-header>
  <ion-toolbar color="light">
    <ion-title>Regular User</ion-title>
  </ion-toolbar>
</ion-header>


<!-- <ion-col sizeLg="4" sizeMd="12" sizeSm="12" sizeXs="12"> -->
<ion-content>



  <ion-grid fixed>
    <ion-row >
      <ion-col *ngFor="let product of productList" sizeLg="4" sizeMd="12" sizeSm="12" sizeXs="12">
        <ion-card class="p-5">
          <ion-item>
            <h3>{{product.productName}} </h3>
            <div  slot="end" >{{product.price | currency:product.currencyTypeName }} </div>
          </ion-item>
          
          <ion-card-content>
            <p>Description: {{product.description}}</p>
            <img [src]="product?.image_url" alt="" srcset="" width="150">
          </ion-card-content>
          <p style="margin-left: 30px;" class="ml-3"> Available Qty
            <ion-badge color="primary" mode="ios">{{product.quantity}}</ion-badge> </p>
     
            <ion-button (click)="buyNowModal(product)" expand="block" color="primary" shape="round">
              buy now
            </ion-button>
     

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>